<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Dating App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
            </li>
        </ul>
         <!-- the #loginForm below makes this an angular form -->
         <!-- the (ngSubmit) calls our nav.component.ts login method upon submit I think 
              It is important that there is a type="submit" button in the form below.
              This means that when that button is clicked, the (ngSubmit) method is invoked
            -->
        <form
              #loginForm="ngForm" 
              (ngSubmit)="login()"
              autocomplete="off"
              class="form-inline mt-2 mt-md-0">
              <!-- name = "username" helps map the input to the model member of this component -->
              <!-- a-ngModel snippet used to insert the [(ngModel)]="model.username" below -->
              <!-- [(ngModel)] sometimes referred to as a "banana in a box"-->
              <!-- this is part of two-way binding -->
              <!-- [] means receiving something from our component -->
              <!-- () means communicating the other direction -->
              <!-- [()] covers both directions -->
              <!-- e.g. (ngSubmit) is going back upwards I think -->
            <input
              name="username" 
              [(ngModel)]="model.username"
              class="form-control mr-sm-2" 
              type="text" 
              placeholder="Username">
            <input 
              name="password"
              [(ngModel)]="model.password"
              class="form-control mr-sm-2" 
              type="password" 
              placeholder="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>


<!-- Almost original starting nav bar code -->
<!-- He removes everything that would make the app format and respond on a mobile device -->
<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Dating App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
  </nav>
-->